.hotel {
  width: 300px;
  height: 270px;
  background-color: var(--white);
  border-radius: 20px;

  position: relative;
  transition: all 0.4s ease;
}
.hotel:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px black;
}
.hotel_img {
  height: 125px;
  width: 100%;
  border-radius: 20px;
}
.hotel_img img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.hotel_content {
  color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hotel_header {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 500px;
}
.hotel_content p {
  width: 265px;
  font-size: 14px;
}
.hotel_btn {
  width: 50%;
  margin: 4px auto;
  height: 25px;
  position: absolute;
  border: none;
  background-color: white;
  color: blue;
}
/* Hotel Container */
.hotel_Container {
  display: grid;
  height: 800px;
  width: 100%;
  gap: 20px;
  row-gap: 30px;
  padding: 19px 25px;
  background-color: var(--background_color);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 100px 10px;
  scroll-behavior: smooth;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
}

.hotel_Container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .hotel_Container {
    width: 95%;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-left: 50px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .hotel_Container {
    width: 95%;
    grid-template-columns: 1fr;
  }
}
