.hero{
    width: 800px;
    height: 291px;
    background-color: var(--d9);
    padding: 73px 180px;
    margin: 100px auto;
}
.hero_header{

    font-size: 40px;
    font-weight: bolder;
    font-family: 'Inter';

}
.hero p{
    height: 48px;
    width: 220px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Inter';
}

@media screen and (max-width:768px){
    .hero{
    width: 350px;
    height: 250px;
    background-color: var(--d9);
    padding: 35px 80px;
    margin: 50px auto;
}
.hero_header{

    font-size: 25px;
    font-weight: bolder;
    font-family: 'Inter';

}
.hero p{
    height: 48px;
    width: 150px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Inter';
}
}

@media screen and (max-width:480px){
        .hero{
    width: 300px;
    height: 200px;
    background-color: var(--d9);
    padding: 20px 50px;
    margin: 50px auto;
}
.hero_header{

    font-size: 20px;
    font-weight: bolder;
    font-family: 'Inter';

}
.hero p{
    height: 48px;
    width: 150px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Inter';
}
}

