.loading{
    height: 30px;
  
    width: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 6px solid transparent;
    border-top-color: blue;
    border-radius: 50%;
    animation: rotate 1s linear infinite;

}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}