.update_room_form {
  margin-top: 50px;
  height: 300px;
  width: 800px;
}
.update_room_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.update_room_form form input,
.update_room_form form select {
  height: 50px;
  width: 80%;
  border-radius: 10px;
  border: none;
  padding-left: 30px;
  font-size: 18px;

}
.update_room_form form input[type="submit"] {
    width: 50%;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color-white);
}
.update_room_form form input[type="submit"]:hover{
    background-color: var(--bg-white-color);
    color: var(--primary-color);
    border: var(--border);
}
