.ts-0{
    text-shadow: 2px 2px 4px black; 
    color: white;
}
.ov-s{
    overflow-y: auto;
}
.h-100{
    height: 100%;
}
.bg_b{
    background: rgb(52, 167, 180);
}
.m-t-4{
    margin-top: 20px;
}
.form-input-group{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}
.w-2{
    width: 20%;
}
.w-1{
    width: 100%;
}
.w-50{
    width: 50%;
}
.btn-add{
    width: 100px;
    height: 30px;
    border: 2px solid white;
    background: rgb(20, 99, 145);
    border-radius: 10px;
    color: white;
} 
.b-s{
    display: block;
      height: 30px;
      width: 100px;
    font-size: 15px;
    border: none;
    padding: 2px;
    border-radius: 5px;
}
@keyframes slide-color {
   0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.b-2{
    border: 2px solid black;
}

.center{
  justify-content: center;
}
.w-100{
  width: 90%;
}