.ul{

    padding: 5px;

}
.li{
    list-style-type: none;
    border: 1px solid black;
    height: 40px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-top: 10px;

}
.li:hover{
    background: #ccc;
}
.m-b-4{
    margin-bottom: 10px;
}