 /* ------------------------buttons */
 .b-b {
    /* display: block; */
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    /* padding: 12px 16px; */
 }
 
 
 /* ------------------------margin */
.m-0{
    margin: 0;
}
.block{
    /* display: block; */
    width: 100vw;
    /* height: 10px; */
}
/* -------------------------padding */
.p-4{
    padding: 12px;
}
/* -------------------------background colors */
.bg-b{
 background-color: black;
}
/* ------------------------text */
.t-w{
    color: antiquewhite;
}
.bg-color{
    background-color: hsl(190, 92%, 29%);
}
.t-sh{
        text-shadow: 0 0 3px  blue,-1px -1px 3px red,1px 1px 3px  green;
}

/* -----------------------------LEFT */
.left{
    width: 20%;
    overflow-y: auto; 
    overflow-x: hidden;

    background-color: #ccc;
}
.left ul{
    margin: 0;
    padding: 0;
  
  
}
.left ul li{
    list-style-type: none;
 
}
.left ul li:not(.first){
    background-color: rgb(80, 88, 88);
}
.left ul li button:not(.first):hover{
    background-color: rgb(48, 56, 56);
    color: white;
}
.left ul li button:hover{
    
    color: white;
}
.first{
    background-color: green;
}
.left ul li a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 4px;
    font-size: 20px;

}
.flex{
    display: flex;
    flex-direction: row;
   overflow: hidden; 
    flex: 1;
    /* height: 100dvh; */
    width: 100%;
}
/* -------------------right container */
.right-container{
     
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}