body{
    background: url('../assets/img1.svg') no-repeat right bottom;
    background-color: hsl(21, 57%, 22%);
    background-color: hsl(22, 54%, 64%);
    margin: 0;
    padding: 0;
   
   
    background-size: 200px 500px;
}
 .j-content-center{
    justify-content: center;
 }
 .sc-y-auto{
    overflow-y: scroll;
 }
 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
   /* overflow-x: hidden; */
    overflow-y: auto;
}
.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    padding: 15px;
    margin: 15px;
}
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background-color: aliceblue;
    flex-wrap: wrap;
 
}
 
/* -----------------------  padding */
.p-1{
    padding: 4px;
}
.p-4{
    padding: 20px;
}
 
.container-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid black;
 
}
.bg-grey{
    background: gray;
}
.bg-white{
    background: white;
}
.container-md{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    /* justify-content: center; */
    width: 90%;
    flex-direction: column;
    padding: 5px;
    /* height: calc(100%-90%); */
    height: auto;
    border-radius: 5px;
    padding-left: 14px;
    color: black;
    /* border: 2px solid black; */
 
}

.p-f{
    position: fixed;
    bottom: 50%;
    left: 50%;
}
.shadow{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.col{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.f-js{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
   
}
.mx{
    margin:0 10px;
}
.mb-3{
    margin-bottom: 15px;

}
.input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.input-group{
    display: flex;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}
.input-group input{
    border: 1px solid black;
 
    border-right: none;
    
}
.t-s{
    text-shadow: 0 0 5px rgb(23, 105, 141),0px 0px 25px rgb(31, 144, 11),2px 3px 6px pink;
}
.t-sm{
    text-shadow:  0 0 5px hsl(228, 72%, 34%);
}
.l-sm{
    letter-spacing: 2px;
}
.text-color-black{
    color: black;
}
.input-group button{
    border-left: none;
     height: 34px;
    margin-bottom: 15px;
    border: 1px solid black;
}
 
.form-input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.form-input:focus{
    outline: none;
   background-color: #649f9f;
    border: 2px solid lightblue;
    color: white;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}
.i-focus:focus{
    background-color: #ccc;
}
.label{
    margin-bottom: 15px;
    /* font-weight: 500; */
    display: block;
    letter-spacing:0.5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rounded{
    border-radius: 10px;
}
.r-sm{
    border-radius: 5px;
    border: 1px solid black;
}
.text-center{
    text-align: center;
   
}
.w-s{
    word-spacing: 10px;
}
.l-s{
    letter-spacing: 10px;
}
.w-500{
    font-weight: 500;
}
.w-900{
    font-weight: 900;
}

.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.f-sm{
    font-size: 13px;
}
.f-30{
    font-size: 30px;
}
.btn{
    width: 100px;
    height: 35px;
}
.btn-primary{
    background: rgb(95, 171, 95);
    transition: background 0.6s ease-in-out;
}
.btn-primary:hover{
    background: rgb(73, 224, 73);
}
.btn-secondary{
    background: rgb(107, 107, 200);
    transition: background 0.6s ease-in-out;

}
.btn-secondary:hover{
    background: rgb(71, 71, 185);
}
.my-4{
    margin:15px 0;
}
.m-r{
    margin-right: 10px;
}
.btn-outline-none{
    outline: none;
    border: none;
    color: white;
}
.t-w{
    color: white;
}

.bg-dg{
    background: darkgray;
}
 
 
.m-n{
    margin: none;
}
.p-n{
    padding: none;
}
@media (max-width:768px){
    .row{
        flex-direction: column;
    }
    .container{
        width: 80%;
    }
    .input{
        width: 90%;
    }
}
.t-r{
    color: red;
}
.t-g{
    color:green;
}

/*__________________________ LOADING ANIMATION */
.rotate{
    height: 30px;
    width: 30px;
    border: 8px solid white;
    border-top: 8px solid black ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.bg-img{
    background-image: url('../assets/search.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px; /* size of image */
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 35px;
    width: 500px;

}
.c-b{
    color: black;
    
}

/* ______________________________POP UP */
.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    transition: top 1s ease-in-out;
}
.popup-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 400px;
    height: 500px;
    background-color: #878e86;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    padding: 12px 16px;
}
.close-btn{
    position: relative;
    left: 180px;
    top: 50px;
    font-size: 30px;
    background: none;
    border: none;
    color: red;
    transition: background-color 0.4s ease-in;
    cursor: pointer;
    
}
.close-btn:hover{
    background-color: #ccc;
}
.close-popup{
    top: -100%;
    transition: top 500ms ease-out;
}
 

.popup-sm{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(90, 82, 82);
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: top 1s ease-out;
   
}
.text-color-white{
    color: white;
}
.text-shadow-small{
    text-shadow: 1px 1px  black,2px 2px 6px gray;
    
}
.popup-close{
    position: fixed;
    /* top: -100%; */
    animation:  blink 2s ease forwards;
    /* animation-iteration-count: 1; */
   
}
@keyframes blink{
      0%   { opacity: 1; visibility: visible; }
    100% { opacity: 0; visibility: hidden; }
}

/* ________________________UPDATE ROOM */
.row-card{
    display: flex;
    gap: 12px;
}
.card{
    background-color: red;
}
.expand-card{
    display: flex;
    max-height:0;
    overflow: hidden;
    flex-direction: column;
    transition: all 1s ease-in;
}

.expand-active{
     max-height: 500px;
     
}
.hotel_container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.hotel_content{
    display: flex;
    flex-direction: column;
}
.hotel_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    width: 1250px;
    height: 75px;
    background-color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    border-radius: 20px;

}
.update_room_popup{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left:30%;
    border-radius: 15px;
    box-shadow: 0 20px 10px rgb(72, 67, 67),0 -20px 10px rgb(72, 67, 67);
    width: 500px;
    height: 400px;
    background: gray;
    padding: 10px;
    padding-left: 20px;
     overflow-y: scroll;
}
.room_details{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    padding: 5px;
     margin-bottom: 20px;

     
}
section.room_details *{
    padding: 5px;
    margin: 0;
}
.room_details span{
    
    color: rgb(31, 62, 214);
    font-size: 18px;
   

}
.room_popup_close{
    position: relative;
    top: -45px;
    left: 450px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    font-size: 30px;
    color: red;
    transition: background 0.5s ease-in-out;
 
}
.room_popup_close:hover{
    background: rgb(62, 61, 61);
 
}
.room_update{
    display: flex;
    flex-direction: column;
   
}