@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.user_dashboard{

    height: 100vh;
    width: 100%;
    background: #8A8480;
    overflow-y: auto;
    font-family: Railway;
 
}
.user_dashboard *{
    padding: 0;
    margin: 0;
    
}   
.user_header{
    font-family: Montserrat;
    color: #43E03E;
    letter-spacing: 2px;
    text-shadow: -2px 2px 4px black;
}
.user_dashboard header{
    padding: 10px;
    background-color: black;
}
.user_main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
 
    /* background-color: red; */
}
 
 
.user_left_side{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 100%; */
    width: 20%;
    background-color: white;

}
.user_left_side ul{
    list-style-type: none;
}
.user_left_side li{
    display: block;
    height: 30px;
    padding: 10px 10px;
    padding-left: 20px;
    border: 1px solid black;
    border-bottom: none;
    transition: background-color 0.4s ease-in;
}
.user_left_side li:hover{
    background-color: #C4C4C4;
}
.user_left_side li:last-child{
    border-bottom: 1px solid black;
}
.user_left_side li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.user_left_side li a:hover{
    color: #fff
}
.user_right_content{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    overflow: auto;
}
.userSearch_Bar{
    width: 100%;
 
}
.userSearch_Bar input{
    margin-left: 20px;
    width: 80%;
    height: 30px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid black;


}
.userSearch_Bar input:focus{
    background-color: #ABB1AA;
}
.userSearch_Bar img{
 position: relative;
 left: 50px;
 top: 7px;
}
.user_hotel_content{
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    overflow: auto;
   

}
.user_hotel_card_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    overflow: auto;
    height: 220px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px white;
     }
     .user_hotel_content::-webkit-scrollbar{
        display: none;
     }
     ::-webkit-scrollbar{
        display: none;
     }
.user_hotel_card_container ul{
    list-style-type: none;
}
.user_hotel_card_container h2{
    font-size: 20px;
}
.user_hotel_card_container h2+p{
    margin-bottom: 5px;
    font-size: 15px;
}
.user_hotel_card_container span{
    color: black;
    font-weight: bold;
}
.user_hotel_card_container p:nth-of-type(2) {
    margin-bottom: 5px;
}
.user_hotel_card_container button{
    width: 80px;
    height: 25px;
    margin:5px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: white;
}
.user_hotel_card_container button:nth-of-type(1){
    background-color: #49F854;
    transition: background-color 0.4s ease-in;
}
.user_hotel_card_container button:nth-of-type(1):hover{
    background-color: #33EB36;
}
.user_hotel_card_container button:nth-of-type(2){
    background-color: #778AF8;
    transition: background-color 0.4s ease-in;

}
.user_hotel_card_container button:nth-of-type(2):hover{   
    background-color: #5B4BD2;
} 
 
.show_details_popup{
    background-color:  #3A4B59;
    color: white;
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding:2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.close{
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    left: 85%;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: transform 0.4s ease-in,background-color 0.4s ease-in;
    /* animation: rotate_border  1s linear infinite; */
}
.close:hover{
    color: white;
    transform: scale(1.1);
    background-color: red;
}
.close:focus{
    animation: rotate_border  0.5s linear 1;

}
@keyframes rotate_border{
     0% {
        border: 4px solid transparent;
        border-top-color: #33EB36;
    }
    25% {
        border: 4px solid transparent;
        border-right-color: #33EB36;
    }
    50% {
        border: 4px solid transparent;
        border-bottom-color: #33EB36;
    }
    75% {
        border: 4px solid transparent;
        border-left-color: #33EB36;
    }
    100% {
        border: 4px solid transparent;
        border-top-color: #33EB36;
    }
}

.show_details_popup h2{
    letter-spacing: 2px;
    margin-bottom: 4px;
    color: #00F008;
}
.show_details_popup span{
    font-style: oblique;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 500;
    
}
.show_details_popup ul{
    list-style-position: inside;
    padding: 10px;
    margin-top: 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.show_details_popup li{
    font-size: 16px;
}
.booking_section{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.booking_section input,select{
    width: 80%;
    height: 20px;
}
.booking_section label{
    color: #fff;
}
.booking_section button{
    width: 30%;
    height: 30px;
    position: relative;
    background-color: #001CF0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 1s ease-in ,transform 0.5s ease;
}
.booking_section button:hover{
    background-color: #6578F1;
    transform: scale(1.01);
 
}
.load{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 8px;
    background-color: transparent;
    border-radius:50% ;
    border: 4px solid transparent;
    border-top-color:#0b93ed ;
    animation: rotate 1.5s linear infinite;
  
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}